/* UserProfileStyles.css */
.container {
  padding: 16px;
  max-width: 400px;
  margin: auto;
  margin-top: 20px;
}

.avatar {
  width: 80px;
  height: 80px;
  margin-bottom: 8px;
}

.user-name {
  font-weight: bold;
  margin-bottom: 4px;
}

.user-details {
  margin-bottom: 8px;
}
